<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ALMSolutions</title>
    {% load static %}
    <center><img src="{% static 'financeiro/logoValeVerde.png' %}" alt="logo"></center>
    <link rel="stylesheet" type="text/css" href="{% static 'financeiro/style.css' %}">
    <script src="main.js"></script>
</head>


<body>
    <center style="color: black;">

    <h1>AGENDA</h1>
    <h1>Próximos Eventos</h1>
    <a href="{% url 'criar_evento' %}"> 
        <button>Adicionar Evento </button>
    </a>


    <table border="3">
    {% for evento in agenda_eventos %}
            <tr>
                <td> 
                    <a href="{% url 'atualizar_evento' evento.id%}">
                        {{evento.titulo}}
                    </a>
                </td>
                <td> 
                    {{evento.tipo}}
                </td>
                <td> 
                    {{evento.descricao_evento}}

                </td>
                <td> 
                    R$ {{evento.valor_evento}}

                </td>
                <td> 
                    {{evento.data_evento}}

                </td>
                <td>
                    <a href="{% url 'atualizar_evento' evento.id%}">
                        <button> EDITAR </button>
                    </a>
                </td>
            </tr>
        
    {% endfor %}
    </table>

    </center>
</body>
</html>