<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ALMSolutions</title>
    {% load static %}
    <center><img src="{% static 'financeiro/logoValeVerde.png' %}" alt="logo"></center>
    <link rel="stylesheet" type="text/css" href="{% static 'financeiro/style.css' %}">
    <script src="main.js"></script>
</head>


<body>
    <center style="color: black;">

    <h1>AGENDA</h1>
    <h1>Próximos Eventos</h1>
    

    <table border="3">
    {% for agenda in agenda_eventos %}
            <tr>
                <td> 
                    {{agenda.titulo}}
                </td>
                <td> 
                    {{agenda.tipo}}
                </td>
                <td> 
                    {{agenda.descricao_evento}}

                </td>
                <td> 
                    R$ {{agenda.valor_evento}}

                </td>
                <td> 
                    {{agenda.data_evento}}

                </td>
            </tr>
        
    {% endfor %}
    </table>
    <a href="criar_evento"> 
        <button>Adicionar Evento </button>
    </a>


    </center>
</body>
</html>