<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ALMSolutions</title>
        {% load static %}
        <center><img src="{% static 'financeiro/logoValeVerde.png' %}" alt="logo"></center>
        <link rel="stylesheet" type="text/css" href="{% static 'financeiro/style.css' %}">
        <script src="main.js"></script>
    </head>    
<body>
    <center style="color: black;">
    <form method="POST">
        {% csrf_token %}
        <h2>Deseja Apagar Evento <strong>"{{evento.titulo}}"</strong> ? </h2>
        <button type="submit"> APAGAR </button>
        <a href="{% url 'consulta_evento' %}">
            <button>CANCELAR</button>
        </a>

    </form>
    </center>
</body>
</html>